/* Footer.css */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap');

.footer {
    margin-top: auto; /* This will automatically take up any available space above the footer */
}

.site-footer {
  background-color: #d63384;
  color: white;
  text-align: center;
  padding: 15px; /* Reduced padding */
  font-family: 'Roboto', sans-serif;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.site-footer p {
  font-size: 0.8rem; /* Adjusted font size for more compact look */
  line-height: 1.4;
  margin-bottom: 0.3rem; /* Reduced space between paragraphs */
}


.footer-links a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow to the text */
}

/* Further adjustments for smaller screens if necessary */
@media (max-width: 768px) {
  .site-footer p {
    font-size: 0.7rem; /* Even smaller font size on small devices */
  }

  .site-footer {
    padding: 10px; /* Even less padding on small devices */
  }
}
